{% extends 'core/base.html' %}
{% load static %}

{% block title %}Painel da Gestão Escolar{% endblock %}
{% block header_title %}Painel da Gestão Escolar{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/painel_super.css' %}">
{% endblock %}

{% block user_info %}
  <span>Olá, 
    <a href="{% url 'editar_gestor' gestor.id %}" title="Editar Perfil">{{ gestor.nome_completo|default:request.user.username }}</a> 
    ({{ gestor.get_cargo_display }})
  </span>
  <a href="{% url 'editar_gestor' gestor.id %}" title="Editar Perfil"><i class="fas fa-user"></i></a>
  <a href="{% url 'logout' %}" title="Sair"><i class="fas fa-power-off"></i></a>
{% endblock %}


{% block content %}
<div class="dashboard-container">
  <h2>Bem-vindo, {{ gestor.nome_completo }}!</h2>

  <div class="stats-container">
    <div class="card">
      <h3>Professores</h3>
      <p>{{ total_professores }}</p>
      <a href="{% url 'listar_professores' %}">Ver</a>
    </div>

    <div class="card">
      <h3>Alunos</h3>
      <p>{{ total_alunos }}</p>
      <a href="{% url 'listar_alunos' %}">Ver</a>
    </div>

    <div class="card">
      <h3>Turmas</h3>
      <p>{{ total_turmas }}</p>
      <a href="{% url 'listar_turmas' %}">Ver</a>
    </div>

    <div class="card">
      <h3>Disciplinas</h3>
      <p>{{ total_disciplinas }}</p>
      <a href="{% url 'listar_disciplinas' %}">Ver</a>
    </div>
  </div>


   <a href="{% url 'listar_alunos' %}" class="icone" title="Gerenciar Alunos">
      <img src="{% static 'core/img/aluno.png' %}" alt="Aluno" />
      <p>Discentes</p>
    </a>
  {% if cargo in 'diretor vice_diretor' or user.is_superuser %}
  <div class="gestao-container">
    <h2>Gestão Escolar</h2>
    <a href="{% url 'listar_gestores' %}" class="btn">Gerenciar Gestores</a>
    <a href="{% url 'cadastrar_gestor' %}" class="btn">Cadastrar Gestor</a>
  </div>
  {% endif %}

</div>
{% endblock %}

