* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", Arial, sans-serif;
       text-decoration: none;
}
body
{
    background-color:#f6f7fb;
    color: #333;
}
.conteudo 
{
    margin-left: 180px;
    margin-top: 90px; /* ↓ antes era 60px */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.titulo
{
    font-size:40px;
    margin-bottom: 35px;
    color:#1b263b;
    font-weight: 500;
    text-align:center;
}

.formulario
{
    padding:20px;
    width: 80%;
    font-weight: normal;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.formulario .linha
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap:20px;
}

.formulario .linha label 
{
    font-size: 14pt;
    color: #333;
    width: 200px;
    min-width: 120px;
    text-align: justify;
    margin: 0;
    white-space: nowrap;
}

.formulario input,
.formulario select 
{ 
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    color: #868686;
    transition: border-color 0.3s;
    outline: none;
    
}

.formulario input:focus,
.formulario select:focus 
{
    border-color: #3176f4;
    box-shadow: 0 0 0 2px rgba(49, 118, 244, 0.2);
}
.formulario input:hover,
.formulario select:hover {
    border-color: #9bb8f5;
}

.acoes 
{
    display: flex;
    justify-content: space-between;
    padding:0 15px;
    margin-top: 20px;
}
.btn-voltar,
.btn-adicionar {
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-voltar {
    border: 1px solid #d3d3d3;
    background-color:#e9ecf1; 
    color:black;
    font-size: 1.2rem;
    width: 60px;
}

.btn-voltar:hover {
    background-color: #d3d3d3;
}

.btn-adicionar {
    border: 1px solid #cfd9f1;
    background-color: #4285F4;
    color: white;
    font-size: 1.2rem;
}

.btn-adicionar:hover {
    background-color: #357ae8;
}

/* Responsividade para Tablets e Telas Médias */
@media (max-width: 1025px) {

    .conteudo {
        margin-left:1px;
    }

}

@media (max-width: 900px) {
    .titulo
    {
        font-size:35px;
    }
}
/* Responsividade para Celular */
@media (max-width: 799px) {

    main {
        margin-left: 0;
        padding: 15px;
    }
    .formulario .linha {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }

    .formulario .linha label {
        width: auto;
    }
    .acoes
    {
        gap:20px
    }

}
@media (max-width: 380px) {
    .acoes{
        display:flex;
        justify-content:center
    }
}