* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", Arial, sans-serif;
}
body
{
    background-color:#f6f7fb;
    color: #333;
}

.detalhes 
{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 60px; 
    margin-left: 190px; 
    padding: 20px;
    position: relative; 
    z-index: 1;
    max-width: 1200px;
    
}

.header-detalhes
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
    width: 80%;
}

.prof
{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.info, .botoes
{
    display:flex;
    gap:20px;
    font-weight:500
}
.info p
{
    margin-top: 20px;
    font-size: 1.1rem
}
.botoes
{
    margin-bottom:30px;
}
.voltar, .imprimir, .nota, .disciplina
{
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.voltar
{
    background-color: #4285F4; 
    color: white;
    font-size: 1.2rem;
    width: 60px;
}
.voltar:hover
{
    background-color: #357ae8;
}

.titulo
{
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
    color: #333;
    margin: 0;
    flex-grow: 1; 
}

.imprimir, .disciplina
{
    background-color: #4285F4;
    color: white;
    font-size: 1rem;
}
.imprimir i
{
    margin-left: 8px;
}
.imprimir:hover
{
    background-color: #357ae8;
}
.nota
{
    background-color: #4285F4; 
    color: white;
    font-size: 1rem;
    width: 60px;
}
.nota:hover
{
    background-color: #357ae8;
}
.disciplina:hover
{
    background-color: #357ae8;
}
.tabela
{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    width:100%
}

.tabela-notas
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left
}

.tabela-notas th
{
    color: #1a2530;
    padding: 15px 12px;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    border-bottom: 3px solid #f0f0f0;
} 
.tabela-notas tbody td
{
    padding: 12px;
    border-bottom: 1px solid #f0f0f0;
    color: #555;
}

.tabela-notas tbody tr:nth-child(even)
{
    background-color: #f9f9f9;
}
.tabela-notas tbody tr:nth-child(odd) 
{
    background-color: #fff;
}

@media (max-width: 1024px) {
    .detalhes
    {
        margin-left:5px
    }
    .titulo
    {
        font-size:35px;
    }
    .tabela
    {
        width:100%;
        overflow-x: auto;
    }
    .tabela-notas 
    {
        min-width: 700px;
        font-size: 0.85rem;
    }
}
/* Responsividade para Celular */
@media (max-width: 768px) {

     .detalhes {
        margin-left: 0;
        padding: 15px;
    }
    .prof
    {
        display:flex;
        flex-direction:column;
        gap: 10px;
    }
    .tabela {
        width: 100%;
        overflow-x: auto;
    }

    .tabela-notas {
        min-width: 700px; 
        width: 100%;
        border-collapse: collapse;
    }

}
